.login-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
   flex-wrap: wrap; /*Adicionando flex-wrap para garantir que os itens sejam empilhados em telas menores */
}

.login-container section.form {
  width: 100%;
  max-width: 350px;
  margin-right: 140px;
  margin-bottom: 20px;  /* Adicionando uma margem inferior para separar o formulário da imagem*/
} 


.login-container .form form {
  margin-top: 100px;
}

.login-container section.form form h1 {
  font-size: 32px;
  margin-bottom: 32px;
}
 

@media screen and (max-width: 1020px) {
  .login-container  img {
    display: block;
    width: 100%; /* Definindo a largura da imagem como 100% */
    max-width: 100%;
    height: auto; /* Mantendo a proporção da imagem */
     margin-top: 20px; /*Adicionando uma margem superior para separar a imagem do formulário em telas menores*/ 
  }

  .login-container section.form{
   margin: 0;
  }

  .login-container section.form img{
   height: 95px;
   margin-top: 30px;
  }

}
  