.new-incidents-container{
 width: 100%;
 max-width: 1120px;
 height: 100vh;
 margin: 0 auto;

 display: flex;
 align-items: center;
 justify-content: center;
}

.new-incidents-container .content{
width: 100%;
padding: 96px;
background: #f0f0f5;
box-shadow: 0 0 100px rgba(0,0,0, 0.1);
border-radius: 8px;

display: flex;
justify-content: space-between;
align-items: center;
}

.new-incidents-container .content section{
 width: 100%;
 max-width: 380px;
}

.new-incidents-container .content section h1{
 margin: 64px 0 32px;
 font-size: 32px;
}

.new-incidents-container .content section p{
 font-size: 18px;
 color: #737380;
 line-height: 32px;
}

.new-incidents-container .content form{
 width: 100%;
 max-width: 450px;
 
}

.new-incidents-container .content form input {
 margin-top: 8px;
}

new-incidents-container .content form input + input{
 height:70px
}

.new-incidents-container .content form textarea{
 width: 100%;
 min-height: 140px;
 height: 140px;
 resize: vertical;
 color: #333;
 border: 1px solid #dcdce6;
 border-radius: 8px;
 padding: 16px 24px;
 margin-top: 8px;
 line-height: 24px;
}

.new-incidents-container .content form .button-group{
display: flex;
}

.new-incidents-container .content form .button-group button + button{
margin-left: 9px;
}

.new-incidents-container .content form .button-group button:first-child{
 border-radius: 4px;
 border: 1px solid #dcdce6;
 background: transparent;
 color: #41414d;
 transition: opacity 0.2s;

}

.new-incidents-container .content form .button-group button:first-child:hover{
 opacity: 0.8;
}

